<a href="https://colab.research.google.com/github/ShubhamXD/MITS_SIP-1_python_programming/blob/main/day1_afternoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#String

In [ ]:
string1="Animals"
print(string1.lower())
print(string1.upper())

string2="  Shubham     "
print(string2.strip())

string2="Video.mkv"
print(string2.startswith("Vi"))
print(string2.endswith(".mkv"))

animals
ANIMALS
Shubham
True
True

In [ ]:
# amount, rate, years
# calculate interest

In [ ]:
amount=float(input("Enter Amount:"))
rate=float(input("Enter rate:"))
years=float(input("Enter years:"))
interest= (amount*rate*years)/100
print(interest)

Enter Amount:1000
Enter rate:10
Enter years:2
200.0

In [ ]:
# Palindrome
data="amaama"

In [ ]:
#symmetrical

4

In [ ]:
string = '12321' # "12321"
half = int(len(string) / 2)
 
if len(string) % 2 == 0:  # even
    first_str = string[:half]
    second_str = string[half:]
else:  # odd   12321     f_S=12   s_s= 21
    first_str = string[:half]
    second_str = string[half+1:]
 
# symmetric
if first_str == second_str:  # ama ama
    print(string, 'string is symmertical')
else:
    print(string, 'string is not symmertical')
 
# palindrome  f_s=12  s_s=21  
if first_str == second_str[::-1]:
    print(string, 'string is palindrome')
else:
    print(string, 'string is not palindrome')

12321 string is not symmertical
12321 string is palindrome

In [ ]:
string="21"
print(string[::-1])

12

In [ ]:
# To reverse words in a given string
string="My name is shubham sharma"
rev=string.split()
print(rev[::-1])

['sharma', 'shubham', 'is', 'name', 'My']

Write a program for the following problem. 	
A transportation company running a bus between two stations S and T. 
On the route from S to T the bus stops at intermediate stations A, B, C, D, and E 
in the same order. On a particular day, they have observed the following pattern in 
passengers traveling through the bus from S to T. Let X be the number of passengers
 initially in the bus at source S. 
1) At stage A, 10 passengers got down from the bus, and 12 passengers boarded into the bus. 
2) At stage B, 15 are boarded into the bus after 10 got down from it.
3) At stage C, 5 are boarded into the bus after 2 getting off from it.
4) At stage D, 22 passengers got down from the bus, and 28 passengers boarded into the bus.
5) Finally, at stage E, 15 are boarded into the bus after 7 getting off from it.'''
Compute the number of passengers traveled between every two stations on the route
for a given X.
(Read X as an input from the user.) 
###Sample Input:
15

###Sample output:
the number passengers traveled from S to A : 15 
the number passengers traveled from A to B : 17 
the number passengers traveled from B to C : 22 
the number passengers traveled from C to D : 25 
the number passengers traveled from D to E : 31 
the number passengers traveled from E to T : 39

In [ ]:
print(f"the number passengers traveled from {} to {} : {}")

In [ ]:
Andhra Pradesh Power Corporation Limited supplies electricity to peoples of Utter Pradesh. They have four ranges of charges for all the residential connections. The charges per unit with surcharge for different ranges of consumptions are given as follows.
Unit Range	Rate per Unit	Surcharge
0-50	2.60	25
50-100	3.25	35
100-200	5.26	45
>200	8.45	75
Input:
243
Output:
Electricity Bill = 1256.85
Input:
487
Output:
Electricity Bill = 3318.65