<a href="https://colab.research.google.com/github/ShubhamXD/MITS_SIP-1_python_programming/blob/main/Python_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#IDE
  1. VSCODE
  2. Jupyter
  3. Google Colab

In [3]:
# Variable
a= 10
b= True
c= 3.14
d= "Jab"
print(a)
print(b)

10
True

In [6]:
# list
price= [10,20,30,40]
print(price)
price.append(50)
print(price)

[10, 20, 30, 40]
[10, 20, 30, 40, 50]

In [7]:
a=10
b=20
c=a+b
print(c)

30

In [11]:
c= 5.25
d= 2.25
e=c/d
print(e)

2.3333333333333335

In [12]:
name= input("Enter your Name:")

Enter your Name:Python Lab

In [13]:
print(name)

Python Lab

In [15]:
branch= input("Branch:")
Year= input("Year:")
print("Branch:"+branch+"  Year:"+Year)

Branch:IT
Year:2022
Branch:IT  Year:2022

In [19]:
name="Python"
print(name[-1])

n

In [21]:
text="my name is Jack"
print(text[3:7])

name

In [26]:
Name="Shubham Sharma"
a=Name.split() # split by space
firstname=a[0]
lastname=a[1]
print(firstname)
print(lastname)
#OUTPUT: My name is shubham and my surname is shubham

Shubham
Sharma

In [27]:
paragraph='In linguistics and grammar, a sentence is a linguistic expression, such as the English example "The quick brown fox jumps over the lazy dog." In traditional grammar, it is typically defined as a string of words that expresses a complete thought, or as a unit consisting of a subject and predicate. In non-functional linguistics it is typically defined as a maximal unit of syntactic structure such as a constituent. In functional linguistics, it is defined as a unit of written texts delimited by graphological features such as upper-case letters and markers such as periods, question marks, and exclamation marks. This notion contrasts with a curve, which is delimited by phonologic features such as pitch and loudness and markers such as pauses; and with a clause, which is a sequence of words that represents some process going on throughout time.[1]'

In [29]:
sentences=paragraph.split(".") # by default space
print(sentences[1])

" In traditional grammar, it is typically defined as a string of words that expresses a complete thought, or as a unit consisting of a subject and predicate

In [30]:
Name="Shubham kumar Sharma"

['apple', 'banana#orange#cherry']

Conditions

In [34]:
#if
#if var1 condition var2:
#  statement
a=5
b=5
if a > b:
    print("a is greater than b")
    print(a)

#elseif
elif a < b:
  print("a is smaller than b")
  print(b)

# else
else:
  print("a == b")

a == b

In [39]:
# Test
print(123 == "123")

False

In [42]:
## Fill in the blank so that each of the following exp. are True
a= 42 != "42"
print(a)

True

In [47]:
print ((1 < 1) or (1 != 1))

False

In [51]:
print(("good" != "Good"))
print(not (True and "A" == "B"))

True
True

In [52]:
# Loop
a= [1,2,3,4,5,6]
for i in a:
    print(i)

1
2
3
4
5
6

In [56]:
# range (a,b,c) a=10 b=101 c=10
for i in range(10,101,10): # 2 is included and but 8 will not be included
  print(i)

10
20
30
40
50
60
70
80
90
100

In [57]:
a=20
for i in range(1,11):
  print(i*a)

20
40
60
80
100
120
140
160
180
200

In [ ]:
*
**
***
****
*****

In [58]:
for i in range(1,6):
    print("*" * i)

*
**
***
****
*****

In [59]:
print ("ABC"*5)

ABCABCABCABCABC

In [ ]:
# break

In [ ]:
User data, math eng
math=75 A+
eng = 39 F
status =fail
A= 75+
B= 50 -- 74
C= 40 -- 49
F =  < 40

In [71]:
math=71
eng=39
grade1=""
grade2=""
if math > 75:
  grade1="A"
elif 50 <math< 75:
  grade1="B"
elif 40 < math < 50:
    grade1="C"
else:
    grade1="F"
if eng > 75:
  grade2="A"
elif 50 <eng< 75:
  grade2="B"
elif 40 < eng < 50:
    grade2="C"
else:
    grade2="F"
print(grade1,grade2)
if grade1 == "F" or grade2 == "F" :
  print("Fail")
else:
  print("Pass")

B F
Fail

In [63]:
math= input("Enter maths mark:")
print(type(math))
math= int(math)
print(type(math))

Enter maths mark:shubham
<class 'str'>

ValueError: ignored

In [ ]:
# Calculate interest
# amount, rate, years

In [75]:
num= 25_000_000_000 # 25000000000
print(type(num))
print(num)
num1= 25e3
print(typenum1)

<class 'int'>
25000000000
<class 'float'>

In [78]:
name="Shubham"
std=10
branch="CSE"
print("Name:"+name+"  std:"+str(std)+"  branch:"+branch)
print(f"Name:{name}  std:{std}  branch:{branch}")

Name:Shubham  std:10  branch:CSE
Name:Shubham  std:10  branch:CSE

In [80]:
base = input("Enter a base: ")
print(f"type of base{type(base)}")
exponent = input("Enter an exponent: ")
result = float(base) ** float(exponent)
print(f"{base} to the power of {exponent} = {result}")

Enter a base: 10
type of base<class 'str'>
Enter an exponent: 2
10 to the power of 2 = 100.0

In [82]:
num=10.15874
print(round(num,2))  
# Modulus  absolute
num= -10
print(abs(num))

10.16
10

In [90]:
a=10

False

In [94]:
print(f"{3 ** .125:.3f}")
print(f"${15000:,.2f}")
print(f"{2/10:.0%}")

1.147
$15,000.00
20%